@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-border {
  @apply border-[1px] border-transparent hover:border-white;
}

.input-login {
  @apply border-[#D7E3EA] border-[1px] rounded-sm h-[30px];
}

.button-login {
  @apply bg-yellow-300 border-[1px] shadow-sm shadow-yellow-400 rounded-md h-full w-full cursor-pointer hover:bg-yellow-400;
}

.box-shadow-bottom {
  @apply relative after:content-[''] after:absolute after:bottom-0 after:left-0 after:shadow-[0_8px_10px_-10px_rgba(0,0,0,0.5)] after:w-full after:h-[30px] after:z-[-1] after:rounded-[50%];
}

.link {
  @apply text-sm text-blue-600 cursor-pointer hover:underline;
}

.active-li {
  @apply font-semibold cursor-pointer;
}

.unactive-li {
  @apply text-gray-600 cursor-pointer hover:text-gray-900;
}

.address-form input {
  @apply p-2;
}

/* body{
    height: 100vh;
} */

main {
  @apply bg-white;
}

:focus {
  outline: none;
}
.col-3 {
  float: left;
  width: 100%;
  padding: 40px 3%;
  position: relative;
}
/* necessary to give position: relative to parent. */
/* input[type="text"] {
  font: 15px/24px "Muli", sans-serif;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
} */
:focus {
  outline: none;
}

.floating-input-effect{
  @apply border-[1px] border-gray-300 p-2 placeholder-shown:focus:brightness-[0.9] duration-200
}

.floating-label{
  @apply absolute left-2 !z-10 text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-8 
  scale-100 top-3 origin-[0] peer-focus:start-0 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 
  peer-focus:scale-100 peer-focus:-translate-y-8 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto cursor-text
  pointer-events-none peer-[.invalid]:text-red-400
}

.floating-select:focus ~ label, .floating-select:not([value=""]):valid ~ label {
  @apply -translate-y-8 rtl:translate-x-1/4
}

.floating-select:disabled ~ label{
  @apply -translate-y-8 rtl:translate-x-1/4
}

.floating-select{
  @apply border-[1px] border-gray-300 p-2
}

.label {
  @apply text-gray-500 text-sm absolute pointer-events-none left-2 top-3 transition-all duration-300 origin-[0]
}

.product-images::-webkit-scrollbar {
  height: 7px;
}

.product-images::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.product-images::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 10px;
}
.product-images::-webkit-scrollbar-thumb:hover{
  filter: brightness(0.5);
}

svg.star-svg {
  display: inline;
}

.pickgradient{
  position:relative;
  display:inline-block;
}
.pickgradient:after {
  content:'';
  position:absolute;
  left:0; top:0;
  width:100%; height:100%;
  display:inline-block;
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 90%, rgba(255,255,255,1) 100%);
}

